<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_eb9eb2dfcb7456f4ec9b49b4950cef5b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_eb9eb2dfcb7456f4ec9b49b4950cef5b" ></div>
        
</body>
<script>    
    
            var map_eb9eb2dfcb7456f4ec9b49b4950cef5b = L.map(
                "map_eb9eb2dfcb7456f4ec9b49b4950cef5b",
                {
                    center: [37.48662382, 126.723325411],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3749ec3b543140b7ecadbf6a6596df83 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_eb9eb2dfcb7456f4ec9b49b4950cef5b);
        
    
            var marker_093ea079690f56c3670240c9d4a9bf85 = L.marker(
                [37.48662382, 126.723325411],
                {}
            ).addTo(map_eb9eb2dfcb7456f4ec9b49b4950cef5b);
        
    
            var icon_ae1a6f074ff3287b6c994ca08d7a56cc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fire", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_093ea079690f56c3670240c9d4a9bf85.setIcon(icon_ae1a6f074ff3287b6c994ca08d7a56cc);
        
    
        var popup_076ad7f41c52774bc603b4ec046e8f68 = L.popup({"maxWidth": "100%"});

        
            var html_9f2f9de3f1e7a0c90133ead0e4a6d3ea = $(`<div id="html_9f2f9de3f1e7a0c90133ead0e4a6d3ea" style="width: 100.0%; height: 100.0%;"><i>Bupyeong Station<br>Hello</i></div>`)[0];
            popup_076ad7f41c52774bc603b4ec046e8f68.setContent(html_9f2f9de3f1e7a0c90133ead0e4a6d3ea);
        

        marker_093ea079690f56c3670240c9d4a9bf85.bindPopup(popup_076ad7f41c52774bc603b4ec046e8f68)
        ;

        
    
    
            marker_093ea079690f56c3670240c9d4a9bf85.bindTooltip(
                `<div>
                     Hello, Station!
                 </div>`,
                {"sticky": true}
            );
        
</script>